@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
@import url(https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
/*
 * 変数定義
 */
:root {
  --black: black;
  --black-2: black;
  --white: white;
  --white-2: white;
  --gray: rgb(94, 94, 94);
  --accent: rgb(254, 1, 92);
  --header-height: 50px;
  --icon-width: 100px;
}

/*
 * 共通パーツ
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  font-family: "Ubuntu Condensed", sans-serif, cursive;
}

header, main, footer {
  padding: 0 2rem;
  width: calc(100% - 4rem);
}
@media screen and (max-width: 768px) {
  header, main, footer {
    padding: 0 0.5rem;
    width: calc(100% - 1rem);
  }
}

header, footer {
  background-color: black;
}

main {
  min-height: 90vh;
  background-color: #222222;
  padding-top: var(--header-height);
}

/*
 * 基本スタイル
 */
h1, h2, h3, h4, h5,
p, time, li, a {
  margin: 0;
  padding: 0;
}

p, time, li, a {
  color: var(--white);
}

h1, h2, h3, h4, h5 {
  color: var(--accent);
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*
 * スクロールバーのスタイル
 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--gray);
}

::-webkit-scrollbar-thumb {
  background: var(--white);
}

/*
 * ヘッダー
 */
@keyframes fadeOutHeader {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -100%;
  }
}
@keyframes fadeInHeader {
  0% {
    opacity: 0;
    top: -100%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes fadeOutMenu {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
@keyframes fadeInMenu {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
header {
  height: var(--header-height);
  position: fixed;
  display: flex;
  color: var(--white);
  transition: 0.6s ease;
  justify-content: space-between;
  z-index: 1000;
}
header.hidden {
  animation: fadeOutHeader 1s;
}
header.visible {
  animation: fadeInHeader 0.4s;
}
header .logo {
  position: relative;
  display: inline-block;
  z-index: 100;
}
header .logo a {
  display: block;
  color: var(--white);
  position: relative;
}
header .logo a img {
  display: block;
  height: var(--header-height);
  width: var(--icon-width);
}
header .logo a img:hover {
  opacity: 0.4;
}
header .menu {
  width: calc(100% - var(--icon-width));
  display: flex;
  justify-content: space-between;
}
header .menu .menu-nav {
  display: flex;
  align-items: center;
  height: var(--header-height);
  transition: 0.9s ease;
}
header .menu .menu-nav__item {
  display: inline-block;
}
header .menu .menu-nav__item a {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  display: block;
  text-transform: uppercase;
}
header .menu .menu-nav__item a:hover {
  opacity: 0.4;
}
header .barger {
  display: none;
}
@media screen and (max-width: 768px) {
  header {
    display: block;
    width: 100vw;
    padding: 0;
    height: var(--header-height);
    position: fixed;
    top: 0;
  }
  header .logo {
    width: calc(100% - 50px - 0.5rem);
    background-color: var(--black);
  }
  header .menu {
    position: fixed;
    top: -100%;
    display: flex;
    background-color: var(--black);
    flex-direction: column;
    transition: 0.4s ease;
    width: 100vw;
    z-index: 10;
  }
  header .menu.opened {
    animation: fadeInMenu 0.4s;
    top: var(--header-height);
    display: block !important;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  }
  header .menu.opened .menu-nav {
    margin-bottom: 1rem;
    display: block !important;
    height: unset;
  }
  header .menu.opened .menu-nav:last-child {
    margin: 0;
  }
  header .menu.opened .menu-nav__item {
    display: block !important;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
  header .menu.closed {
    animation: fadeOutMenu 1s;
  }
  header .barger {
    right: 0.5rem;
    position: absolute;
    display: inline-block;
    z-index: 100;
  }
  header .barger__btn {
    display: flex;
    height: var(--header-height);
    width: var(--header-height);
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    transition: 0.5s ease;
  }
  header .barger__btn span, header .barger__btn span:before, header .barger__btn span:after {
    position: fixed;
    content: "";
    display: block;
    height: 4px;
    width: 25px;
    border-radius: 3px;
    background-color: var(--white);
    position: absolute;
  }
  header .barger__btn span:before {
    bottom: 8px;
  }
  header .barger__btn span:after {
    top: 8px;
  }
}

/*
 * フッター
 */
footer {
  display: flex;
}
footer .category {
  margin: 1rem 0;
  min-width: 200px;
}
footer .category__title {
  margin: 0.3rem 0;
  color: var(--accent);
  font-weight: bold;
  font-size: 1.1rem;
}
footer .category__list a:hover {
  text-decoration: underline;
  opacity: 0.6;
}
footer .follow-me {
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
}
footer .follow-me li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}
footer .follow-me li a::before {
  background-color: #eee;
  border-radius: 2px;
  color: #333;
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 16px;
  height: 44px;
  /* Button height */
  line-height: 44px;
  /* Button height */
  transition: all 0.3s ease;
  text-align: center;
  width: 44px;
  /* Button width */
}
footer .follow-me li a:hover::before {
  color: #fff;
  background-color: rgb(83, 83, 83);
}
footer .follow-me li a[href*="twitter.com"]::before {
  content: "\f099";
}
footer .follow-me li a[href*="instagram.com"]::before {
  content: "\f16d";
}

/*
 * メイン
 */
main hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1rem;
}
main a {
  padding: 0 0.3rem;
  text-decoration: underline;
}
main a:hover {
  text-decoration: none;
  color: var(--accent);
}
main .images {
  display: inline-block;
  height: 320px;
  width: 100%;
  white-space: nowrap;
  overflow: scroll;
  text-align: center;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
main .images a {
  display: inline-block;
  height: 280px;
  width: 160px;
  text-align: center;
  margin: 5px 5px;
  text-decoration: none;
}
main .images a:hover {
  opacity: 0.6;
}
main .images a p {
  display: block;
  height: 40px;
  width: 150px;
  padding: 0;
  margin: 0 auto;
  word-break: break-all;
  overflow-wrap: break-word;
  text-align: center;
}
main .images a img {
  width: 150px;
  height: 200px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */